<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Video's
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="transparent">

  <ion-card color="tertiary">
    <ion-card-content text-center>
      <iframe src="https://www.youtube.com/embed/JLJqUipWRWk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <ion-segment color="light">
        <ion-segment-button>
          <ion-icon name="thumbs-up"></ion-icon>
        </ion-segment-button>
        <ion-segment-button>
          <ion-icon name="thumbs-down"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </ion-card-content>
  </ion-card>

  <ion-card color="dark">
    <ion-card-content text-center>
      <iframe src="https://www.youtube.com/embed/1ZYbU82GVz4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <ion-segment color="light">
        <ion-segment-button>
          <ion-icon name="thumbs-up"></ion-icon>
        </ion-segment-button>
        <ion-segment-button>
          <ion-icon name="thumbs-down"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </ion-card-content>
  </ion-card>

  <ion-card color="success">
    <ion-card-content text-center>
      <iframe src="https://www.youtube.com/embed/BPK9WNtpBgk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <ion-segment color="light">
        <ion-segment-button>
          <ion-icon name="thumbs-up"></ion-icon>
        </ion-segment-button>
        <ion-segment-button>
          <ion-icon name="thumbs-down"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </ion-card-content>
  </ion-card>

  <ion-card color="danger">
    <ion-card-content text-center>
      <iframe src="https://www.youtube.com/embed/w1Hre2nDjRk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <ion-segment color="light">
        <ion-segment-button>
          <ion-icon name="thumbs-up"></ion-icon>
        </ion-segment-button>
        <ion-segment-button>
          <ion-icon name="thumbs-down"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="happy"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button color="warning"><ion-icon src="../assets/emoticons/hype.svg"></ion-icon></ion-fab-button>
      <ion-fab-button color="dark"><ion-icon src="../assets/emoticons/sleepy.svg"></ion-icon></ion-fab-button>
      <ion-fab-button color="danger"><ion-icon src="../assets/emoticons/angry.svg"></ion-icon></ion-fab-button>
      <ion-fab-button color="tertiary"><ion-icon src="../assets/emoticons/sad.svg"></ion-icon></ion-fab-button>
      <ion-fab-button color="success"><ion-icon src="../assets/emoticons/happy.svg"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
